$mainBlue: #8dd9f1;

@mixin container {
    padding: 5vh 5vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin text {
    font-family: 'Montserrat', cursive;
}

@mixin title {
  font-family: 'Breathing Personal Use', sans-serif;
}